streamlit>=1.28
langchain-openai
langchain-ollama
langchain-huggingface
openai>=1.2
langgraph>=0.0.38
tiktoken>=0.5.1,<1.0
pypdf>=3.17.0,<4.0.0
streamlit-feedback
langchain-community
faiss-cpu
pymupdf
sentence-transformers